/*  
    *
        */
/*  
    *
        */
/*  
    *
        */
/* desktop */
/*  bordures  */
/*  autre */
::selection, ::-moz-selection {
  background: #ffdb00;
  color: #fff; }

@top-left-corner {}@top-left {}@top-center {}@top-right {}@top-right-corner {}@left-top {}@left-middle {}@left-bottom {}@right-top {}@right-middle {}@right-bottom {}@bottom-left-corner {}@bottom-left {}@bottom-center {}@bottom-right {}@bottom-right-corner {}/* mixin for multiline */
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

html {
  box-sizing: border-box;
  text-decoration-skip-ink: auto; }

body, html {
  max-width: 100vw;
  top: 0px;
  left: 0px;
  margin: 0px;
  padding: 0px; }

*, *:before, *:after {
  margin: 0;
  padding: 0;
  position: relative;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-smooth: never;
  -moz-font-smooth: never; }

em {
  font-style: italic; }

button {
  border: none;
  outline: none; }

a {
  text-decoration: none;
  color: currentColor; }

a:hover {
  text-decoration: none; }

ul {
  list-style-type: none;
  list-style-position: inside; }

*:focus {
  outline: none; }

@media (max-width: 700px) {
  html {
    overflow-x: hidden; } }

@media (min-width: 700px) {
  html {
    overflow: visible; } }

body {
  margin: 0 !important;
  overflow-x: hidden;
  background-color: #999; }

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px; }

/* Settings */
:root {
  --offset: 1.5rem;
  --max_width: 72rem;
  --columns: 2;
  --gutter: .5rem;
  --baseline: 15px;
  --baseline-shift: 2rem;
  --color: hsla(204, 80%, 72%, 0.25);
  --media-query: 'base'; }

/* Helper variables */
:root {
  --repeating-width: calc(100% / var(--columns));
  --column-width: calc((100% / var(--columns)) - var(--gutter));
  --background-width: calc(100% + var(--gutter));
  --background-columns: repeating-linear-gradient(
    to right,
    var(--color),
    var(--color) var(--column-width),
    transparent var(--column-width),
    transparent var(--repeating-width)
  );
  --background-baseline: repeating-linear-gradient(
    to bottom,
    black,
    var(--color) 1px,
    transparent 1px,
    transparent var(--baseline)
  ); }

html {
  overflow: visible; }

#Cover {
  background: #fff;
  height: 240mm;
  width: calc( 105mm * 2 + 5mm + 60mm);
  margin: 3em auto;
  position: relative;
  border: 4mm solid #fff; }
  #Cover:before, #Cover:after, #Cover #cropSpine:before, #Cover #cropVolet:before {
    position: absolute;
    content: '';
    border: solid black;
    z-index: -1; }
  #Cover:before {
    top: -32px;
    bottom: -32px;
    left: 0;
    right: 0;
    border-width: 0 1px; }
  #Cover:after {
    left: -32px;
    right: -32px;
    top: 0;
    bottom: 0;
    border-width: 1px 0; }
  #Cover #cropSpine:before, #Cover #cropVolet:before {
    top: -32px;
    bottom: -32px;
    left: 0;
    right: 0;
    border-width: 0 1px;
    width: 100%; }
  #Cover #Front {
    height: 105mm;
    width: 240mm;
    right: -7.5mm;
    top: 67mm;
    transform: rotate(-90deg);
    transform-origin: center; }
  #Cover #Back {
    height: 240mm;
    width: 105mm;
    top: 0;
    left: 0; }
  #Cover #Spine, #Cover #cropSpine {
    height: 240mm;
    width: 5mm;
    left: 105mm; }
  #Cover #Volet, #Cover #cropVolet {
    width: 60mm;
    height: 240mm;
    left: calc( 105mm * 2 + 5mm); }
  #Cover #cropSpine, #Cover #cropVolet {
    z-index: -1;
    position: absolute; }
  #Cover > section {
    position: absolute;
    z-index: 1; }
  #Cover > svg {
    mix-blend-mode: multiply; }
  #Cover #Front {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 4mm;
    grid-row-gap: 14px;
    padding: 4mm;
    box-sizing: border-box; }
    #Cover #Front .sub {
      grid-column: 1/7;
      grid-row: 4;
      align-self: start;
      justify-self: center; }
    #Cover #Front .collection {
      grid-column: 5;
      grid-row: 2;
      font-family: "Spectral", sans-serif;
      font-size: 15px;
      line-height: 21px;
      font-weight: normal;
      letter-spacing: 0px;
      color: #222;
      line-height: 17px;
      width: 80%;
      text-align: left;
      text-transform: uppercase;
      align-self: flex-end;
      top: 40px; }
    #Cover #Front h1 {
      grid-column: 1/7;
      grid-row: 3/6;
      align-self: center;
      justify-self: center;
      font-family: "Imbue";
      font-size: 100px;
      line-height: 75px;
      font-weight: 200;
      font-variation-settings: "wght" 200;
      letter-spacing: -1px;
      color: #222;
      font-size: 240px;
      text-align: left;
      text-transform: uppercase;
      align-self: center;
      justify-self: flex-start;
      top: 22px; }
      #Cover #Front h1 .minor {
        font-family: "Bajaderka";
        font-size: 40px;
        line-height: 56px;
        font-weight: normal;
        letter-spacing: -1px;
        color: #222;
        display: block;
        text-transform: initial;
        top: -63px;
        left: 80px; }
    #Cover #Front .part {
      font-family: "Spectral", sans-serif;
      font-size: 15px;
      line-height: 21px;
      font-weight: normal;
      letter-spacing: 0px;
      color: #222;
      grid-column: 5;
      grid-row: 6;
      align-self: center; }
    #Cover #Front .subtitle {
      font-family: "Spectral", sans-serif;
      font-size: 15px;
      line-height: 21px;
      font-weight: normal;
      letter-spacing: 0px;
      color: #222;
      grid-column: 6;
      grid-row: 6;
      align-self: center; }
  #Cover #Back figure {
    width: 70mm;
    position: absolute;
    top: 15mm;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden; }
    #Cover #Back figure img {
      width: 100%;
      transform: scale(1.15);
      transform-origin: center; }
  #Cover #Back p {
    font-family: "Spectral", sans-serif;
    font-size: 15px;
    line-height: 21px;
    font-weight: normal;
    letter-spacing: 0px;
    color: #222;
    text-align: center;
    vertical-align: bottom;
    top: calc(100% - 120px); }
  #Cover #Spine {
    /*display: grid;
		grid-template-rows: 26mm 5mm 5mm 46% 0fr;
		grid-template-columns: 4mm;
		justify-content: start;*/ }
    #Cover #Spine > * {
      transform: rotate(90deg);
      transform-origin: right; }
    #Cover #Spine .collection {
      width: 50mm;
      font-family: "Spectral", sans-serif;
      font-size: 10px;
      line-height: 14px;
      font-weight: normal;
      letter-spacing: -.5px;
      color: #222;
      text-transform: uppercase;
      top: 85mm;
      left: -47.5mm;
      position: absolute; }
    #Cover #Spine h1 {
      /*grid-row: 1;
			width: 50mm;
			@include f1-s0($text-color);
			text-align: center;
			text-transform: uppercase;
			align-self: flex-start;

			align-items: baseline;
			left: -7px;*/
      display: none; }
      #Cover #Spine h1 .minor {
        font-family: "Bajaderka";
        font-size: 20px;
        line-height: 28px;
        font-weight: normal;
        letter-spacing: -1px;
        color: #222;
        display: inline-block;
        text-transform: initial;
        margin-right: 2px; }
    #Cover #Spine .part {
      grid-row: 2;
      align-self: flex-start;
      width: 20mm;
      font-family: "Spectral", sans-serif;
      font-size: 10px;
      line-height: 14px;
      font-weight: normal;
      letter-spacing: -.5px;
      color: #222;
      display: none; }
    #Cover #Spine .subtitle {
      grid-row: 3;
      align-self: flex-start;
      width: 15mm;
      font-family: "Spectral", sans-serif;
      font-size: 10px;
      line-height: 14px;
      font-weight: normal;
      letter-spacing: -.5px;
      color: #222;
      font-size: 13px;
      text-align: center;
      left: -12.5mm;
      top: 96mm;
      border-left: 1px solid #222; }
      #Cover #Spine .subtitle:before {
        width: 3px;
        height: 3px;
        border: 1pt solid #222;
        margin: 1mm;
        border-radius: 50%;
        display: inline-block;
        z-index: 100;
        top: -1px;
        position: absolute;
        left: 155mm; }
  #Cover #Volet {
    padding: 18mm 3mm 3mm 3mm;
    box-sizing: border-box; }
    #Cover #Volet h2 {
      font-family: "Imbue";
      font-size: 30px;
      line-height: 28px;
      font-weight: 200;
      font-variation-settings: "wght" 200;
      letter-spacing: -1px;
      color: #222;
      text-transform: uppercase;
      margin-bottom: 14px; }
    #Cover #Volet p {
      font-family: "Spectral", sans-serif;
      font-size: 15px;
      line-height: 21px;
      font-weight: normal;
      letter-spacing: 0px;
      color: #222;
      letter-spacing: -.2px; }

@media print {
  html, body, #pages, .page {
    padding: 0;
    margin: 0 !important;
    background: none; }
  #Cover {
    background: white;
    border-color: white; }
  @page {
    size: calc(5mm + 210mm + 8mm + 164px) calc( 240mm + 8mm + 164px);
    margin: 0;
    padding: 0; } }

html {
  overflow: visible; }

#inner_cover {
  background: white;
  height: 240mm;
  width: calc( 105mm * 2 + 5mm + 60mm);
  margin: 3em auto;
  position: relative;
  border: 4mm solid white; }
  #inner_cover:before, #inner_cover:after, #inner_cover #cropSpine:before, #inner_cover #cropVolet:before {
    position: absolute;
    content: '';
    border: solid black;
    z-index: -1; }
  #inner_cover:before {
    top: -32px;
    bottom: -32px;
    left: 0;
    right: 0;
    border-width: 0 1px; }
  #inner_cover:after {
    left: -32px;
    right: -32px;
    top: 0;
    bottom: 0;
    border-width: 1px 0; }
  #inner_cover #cropSpine:before, #inner_cover #cropVolet:before {
    top: -32px;
    bottom: -32px;
    left: 0;
    right: 0;
    border-width: 0 1px;
    width: 100%; }
  #inner_cover #Spine, #inner_cover #cropSpine {
    height: 240mm;
    width: 5mm;
    left: calc( 105mm + 60mm); }
  #inner_cover #Volet, #inner_cover #cropVolet {
    width: 60mm;
    height: 240mm;
    left: 0; }
  #inner_cover #cropSpine, #inner_cover #cropVolet {
    z-index: -1;
    position: absolute; }
  #inner_cover > section {
    position: absolute;
    z-index: 1; }
  #inner_cover > svg {
    mix-blend-mode: multiply; }
  #inner_cover #inner_map {
    position: absolute;
    width: calc(210mm + 60mm + 5mm + 32px);
    height: calc(240mm + 32px);
    top: -16px;
    left: -16px;
    overflow: hidden;
    mix-blend-mode: multiply;
    filter: brightness(1.05); }
    #inner_cover #inner_map img {
      transform: rotate(-90deg);
      left: 65px;
      top: -70px;
      max-width: 410mm;
      height: 285mm;
      position: absolute; }

@media print {
  html, body, #pages, .page {
    padding: 0;
    margin: 0 !important;
    background: none; }
  #Cover {
    background: white;
    border-color: white; }
  @page {
    size: calc(5mm + 210mm + 8mm + 164px) calc( 240mm + 8mm + 164px);
    margin: 0;
    padding: 0; } }
