/*  
    *
        */
/*  
    *
        */
/*  
    *
        */
/* desktop */
/*  bordures  */
/*  autre */
::selection, ::-moz-selection {
  background: #ffdb00;
  color: #fff; }

@top-left-corner {}@top-left {}@top-center {}@top-right {}@top-right-corner {}@left-top {}@left-middle {}@left-bottom {}@right-top {}@right-middle {}@right-bottom {}@bottom-left-corner {}@bottom-left {}@bottom-center {}@bottom-right {}@bottom-right-corner {}/* mixin for multiline */
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

html {
  box-sizing: border-box;
  text-decoration-skip-ink: auto; }

body, html {
  max-width: 100vw;
  top: 0px;
  left: 0px;
  margin: 0px;
  padding: 0px; }

*, *:before, *:after {
  margin: 0;
  padding: 0;
  position: relative;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-smooth: never;
  -moz-font-smooth: never; }

em {
  font-style: italic; }

button {
  border: none;
  outline: none; }

a {
  text-decoration: none;
  color: currentColor; }

a:hover {
  text-decoration: none; }

ul {
  list-style-type: none;
  list-style-position: inside; }

*:focus {
  outline: none; }

@media (max-width: 700px) {
  html {
    overflow-x: hidden; } }

@media (min-width: 700px) {
  html {
    overflow: visible; } }

body {
  margin: 0 !important;
  overflow-x: hidden;
  background-color: #999; }

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px; }

/* Settings */
:root {
  --offset: 1.5rem;
  --max_width: 72rem;
  --columns: 2;
  --gutter: .5rem;
  --baseline: 15px;
  --baseline-shift: 2rem;
  --color: hsla(204, 80%, 72%, 0.25);
  --media-query: 'base'; }

/* Helper variables */
:root {
  --repeating-width: calc(100% / var(--columns));
  --column-width: calc((100% / var(--columns)) - var(--gutter));
  --background-width: calc(100% + var(--gutter));
  --background-columns: repeating-linear-gradient(
    to right,
    var(--color),
    var(--color) var(--column-width),
    transparent var(--column-width),
    transparent var(--repeating-width)
  );
  --background-baseline: repeating-linear-gradient(
    to bottom,
    black,
    var(--color) 1px,
    transparent 1px,
    transparent var(--baseline)
  ); }

html, body {
  box-sizing: border-box;
  margin: 0 !important;
  background: lightgrey;
  z-index: -1; }

body {
  overflow-x: visible; }

hr {
  border: none; }

.pagedjs_area > div > div {
  height: 100%; }

.pagedjs_area > div > div > main {
  height: 100%; }

@page {
  size: 105mm 240mm;
  margin-top: 12mm;
  margin-bottom: 20mm;
  bleed: 0; }

@page :left {
  margin-left: 10mm;
  margin-right: 10mm; }

@page :right {
  margin-left: 10mm;
  margin-right: 10mm; }

section > h2 {
  string-set: title content(text); }

/*								*
	*		CSS Printing Rules 		*
		*								*/
@media print {
  html, body, #pages, .page {
    padding: 0;
    margin: 0 !important;
    background: none; }
  @page {}  @page {
    height: 100%;
    width: 100%; }
  .pagedjs_pages {
    width: 100%;
    height: 100%;
    page-break-after: always;
    break-after: page; } }

[data-page-number="1"] .pagedjs_area main,
[data-page-number="3"] .pagedjs_area main {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 4mm;
  grid-row-gap: 14px;
  grid-template-rows: repeat(6, 1fr);
  overflow: hidden;
  height: 100%; }
  [data-page-number="1"] .pagedjs_area main > *,
  [data-page-number="3"] .pagedjs_area main > * {
    grid-column: 1 / 12 span; }

#fauxTitre {
  font-family: "Imbue";
  font-size: 50px;
  line-height: 49px;
  font-weight: 200;
  font-variation-settings: "wght" 200;
  letter-spacing: -1px;
  color: #222;
  text-align: center;
  text-transform: uppercase;
  grid-row: 2;
  align-self: center; }
  #fauxTitre .minor {
    font-family: "Bajaderka";
    font-size: 30px;
    line-height: 42px;
    font-weight: normal;
    letter-spacing: -1px;
    color: #222;
    display: block;
    text-transform: initial;
    line-height: 17.5px; }

#fauxTitre + .collection {
  break-before: right; }

.collection {
  font-family: "Spectral", sans-serif;
  font-size: 10px;
  line-height: 14px;
  font-weight: normal;
  letter-spacing: -.5px;
  color: #222;
  text-align: center;
  text-transform: uppercase;
  align-self: center; }

h1 {
  font-family: "Imbue";
  font-size: 100px;
  line-height: 75px;
  font-weight: 200;
  font-variation-settings: "wght" 200;
  letter-spacing: -1px;
  color: #222;
  text-align: center;
  text-transform: uppercase;
  align-self: center;
  letter-spacing: -2.85px; }
  h1 .minor {
    font-family: "Bajaderka";
    font-size: 40px;
    line-height: 56px;
    font-weight: normal;
    letter-spacing: -1px;
    color: #222;
    display: block;
    text-transform: initial; }

.part {
  font-family: "Spectral", sans-serif;
  font-size: 10px;
  line-height: 14px;
  font-weight: normal;
  letter-spacing: -.5px;
  color: #222;
  text-align: center;
  grid-row: 3/4;
  align-self: center;
  top: -14px; }

.subtitle {
  font-family: "Spectral", sans-serif;
  font-size: 15px;
  line-height: 21px;
  font-weight: normal;
  letter-spacing: 0px;
  color: #222;
  text-align: center;
  font-weight: bold;
  grid-row: 3/4;
  align-self: center; }

#intro {
  break-before: left;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -moz-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  max-width: 51%;
  font-family: "Spectral", sans-serif;
  font-size: 10px;
  line-height: 14px;
  font-weight: normal;
  letter-spacing: -.5px;
  color: #666;
  position: absolute;
  bottom: 0; }
  #intro > p {
    margin-top: 14px; }
    #intro > p:nth-child(1) {
      letter-spacing: -.2px; }

@page tableOfContent :left {}@page tableOfContent :right {}/*							*
	*	Regular CSS 	*
*							*/
#tableOfContent {
  page: tableOfContent;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 4mm;
  grid-row-gap: 14px;
  grid-template-rows: repeat(6, 1fr);
  overflow: hidden;
  height: 100%; }
  #tableOfContent > * {
    grid-column: 1 / 5 span; }
  #tableOfContent ul {
    grid-row: 2/6;
    grid-column: 2 / 6; }
    #tableOfContent ul li {
      font-family: "Imbue";
      font-size: 50px;
      line-height: 49px;
      font-weight: 200;
      font-variation-settings: "wght" 200;
      letter-spacing: -1px;
      color: #222;
      text-transform: uppercase;
      /*a{
				display: flex;
				justify-content: space-between;
				align-items: baseline;
				flex-direction: row;

				&::after{
					content: target-counter(attr(href), page);
					float: right;

					@include f4-s0;
				}
			}*/ }
      #tableOfContent ul li a::after {
        content: target-counter(attr(href), page);
        font-family: "Work Sans";
        font-size: 12px;
        line-height: 16.8px;
        font-weight: 300;
        letter-spacing: .2px;
        color: #222;
        position: absolute;
        left: -25px;
        top: 24px;
        text-align: right;
        width: 20px; }
      #tableOfContent ul li:last-of-type {
        display: none; }

@page inner_map :first {
  z-index: 10; }

@page inner_map :left {
  /*@bottom-left   {
		content: counter(page);
		@include f2-s0();
		border-top: 1px solid $text-color;
		width: 5mm;
		margin: 10mm 0 0 0mm;
		padding: 2mm 0mm 0 2.5mm;
		align-items: flex-start;
	}*/ }

@page inner_map :right {
  @bottom-right {
    content: counter(page);
    font-family: "Spectral", sans-serif;
    font-size: 10px;
    line-height: 14px;
    font-weight: normal;
    letter-spacing: -.5px;
    color: #222;
    border-top: 1px solid #222;
    width: 5mm;
    margin: 10mm 0 0 0;
    padding: 2mm 2.5mm 0 0mm;
    align-items: flex-start;
    text-align: right; } }

@page inner_map :right {
  @bottom-right {
    content: counter(page);
    font-family: "Spectral", sans-serif;
    font-size: 10px;
    line-height: 14px;
    font-weight: normal;
    letter-spacing: -.5px;
    color: #222;
    border-top: 1px solid #222;
    width: 5mm;
    margin: 10mm 0 0 0;
    padding: 2mm 2.5mm 0 0mm;
    align-items: flex-start;
    text-align: right; } }

#inner_map {
  page: inner_map;
  height: 100%; }

.pagedjs_inner_map_page figure {
  width: calc(105mm + 1mm);
  height: calc(240mm - 25mm);
  top: calc(-12mm + 5mm);
  overflow: hidden;
  border: 1.5px solid black; }
  .pagedjs_inner_map_page figure img {
    width: 340mm;
    left: -440px;
    top: -20px;
    filter: contrast(1.25); }
  .pagedjs_inner_map_page figure:not(.hackOverflow) {
    left: -5mm; }
    .pagedjs_inner_map_page figure:not(.hackOverflow) img {
      left: -470px; }
  .pagedjs_inner_map_page figure.hackOverflow {
    left: calc(-10mm - 5mm - 1mm); }
    .pagedjs_inner_map_page figure.hackOverflow img {
      left: -824px; }

.pagedjs_citation_page .pagedjs_area main {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 4mm;
  grid-row-gap: 14px;
  grid-template-rows: repeat(6, 1fr);
  overflow: hidden;
  height: 100%; }
  .pagedjs_citation_page .pagedjs_area main > * {
    grid-column: 1 / 12 span; }

@page citation :right {
  @bottom-right {
    content: counter(page);
    font-family: "Spectral", sans-serif;
    font-size: 10px;
    line-height: 14px;
    font-weight: normal;
    letter-spacing: -.5px;
    color: #222;
    border-top: 1px solid #222;
    width: 5mm;
    margin: 10mm 0 0 0;
    padding: 2mm 2.5mm 0 0mm;
    align-items: flex-start;
    text-align: right; } }

#citation {
  page: citation;
  break-before: right;
  grid-row: 3;
  grid-column: 1 / 12;
  align-self: center;
  justify-self: center; }
  #citation p {
    font-family: "Spectral", sans-serif;
    font-size: 20px;
    line-height: 28px;
    font-weight: normal;
    letter-spacing: 0px;
    color: #222;
    font-style: italic; }
  #citation footer {
    font-family: "Spectral", sans-serif;
    font-size: 10px;
    line-height: 14px;
    font-weight: normal;
    letter-spacing: -.5px;
    color: #222;
    margin-top: 10px;
    text-align: center; }
    #citation footer cite {
      display: block;
      left: 21px; }

@page photography {
  margin: 5mm 5mm 20mm 5mm; }

@page photography :left {
  @bottom-left {
    content: counter(page);
    font-family: "Spectral", sans-serif;
    font-size: 10px;
    line-height: 14px;
    font-weight: normal;
    letter-spacing: -.5px;
    color: #222;
    border-top: 1px solid #222;
    width: 5mm;
    margin: 10mm 0 0 0mm;
    padding: 2mm 0mm 0 2.5mm;
    align-items: flex-start; } }

@page photography :first {
  @bottom-left {
    content: none;
    border: none; } }

@page photography :right {
  @bottom-right {
    content: counter(page);
    font-family: "Spectral", sans-serif;
    font-size: 10px;
    line-height: 14px;
    font-weight: normal;
    letter-spacing: -.5px;
    color: #222;
    border-top: 1px solid #222;
    width: 5mm;
    margin: 10mm 0 0 0;
    padding: 2mm 2.5mm 0 0mm;
    align-items: flex-start;
    text-align: right; } }

/*							*
	*	Regular CSS 	*
*							*/
#photography {
  page: photography;
  height: 100%; }
  #photography figure {
    display: inline-block;
    break-before: page;
    overflow: hidden; }
    #photography figure img {
      --scale: 1.2;
      --transX: 0;
      --transY: 0;
      width: 100%;
      filter: grayscale(1);
      transform: scale(var(--scale)) translate3d(var(--transX), var(--transY), 0); }
  #photography .text {
    font-family: "Spectral", sans-serif;
    font-size: 15px;
    line-height: 21px;
    font-weight: normal;
    letter-spacing: 0px;
    color: #222;
    position: absolute;
    bottom: 0; }

[data-page-number="12"] figure, [data-page-number="13"] figure {
  width: calc(139.965mm - 10mm); }

[data-page-number="13"] figure {
  left: calc( var(--pagedjs-pagebox-width) * -1); }

/**/
[data-page-number="14"] figure, [data-page-number="15"] figure {
  width: calc(210mm - 10mm); }

[data-page-number="15"] figure {
  left: calc( var(--pagedjs-pagebox-width) * -1); }

/**/
[data-page-number="26"] figure {
  display: none; }

/**/
[data-page-number="28"] figure {
  display: none; }

/**/
[data-page-number="29"] figure {
  position: absolute;
  bottom: 0; }

/**/
[data-page-number="30"] figure, [data-page-number="31"] figure {
  width: calc(183.75mm - 10mm); }

[data-page-number="30"] figure {
  left: calc( var(--pagedjs-pagebox-width) * .245); }

[data-page-number="31"] figure {
  right: 0;
  position: absolute; }

/**/
[data-page-number="42"] figure, [data-page-number="43"] figure {
  width: calc(210mm - 10mm); }

[data-page-number="43"] figure {
  left: calc( var(--pagedjs-pagebox-width) * -1); }

/**/
[data-page-number="44"] figure, [data-page-number="45"] figure {
  width: calc(210mm - 10mm); }

[data-page-number="45"] figure {
  left: calc( var(--pagedjs-pagebox-width) * -1); }

/**/
[data-page-number="48"] figure, [data-page-number="49"] figure {
  width: calc(210mm - 10mm); }

[data-page-number="49"] figure {
  left: calc( var(--pagedjs-pagebox-width) * -1); }

/**/
[data-page-number="9"] figure img {
  filter: grayscale(1) contrast(1.25); }

[data-page-number="10"] figure img {
  filter: grayscale(1) contrast(1.75); }

[data-page-number="11"] figure img {
  filter: grayscale(1) contrast(1.75); }

[data-page-number="12"] figure img {
  filter: grayscale(1) contrast(2); }

[data-page-number="13"] figure img {
  filter: grayscale(1) contrast(2); }

[data-page-number="24"] figure img {
  filter: grayscale(1) contrast(1.5); }

[data-page-number="35"] figure img {
  filter: grayscale(1) contrast(1.75) brightness(0.8); }

[data-page-number="36"] figure img {
  filter: grayscale(1) contrast(1.85); }

[data-page-number="37"] figure img {
  filter: grayscale(1) contrast(1.3); }

[data-page-number="38"] figure img {
  filter: grayscale(1) contrast(1.25); }

[data-page-number="40"] figure img {
  --scale: 1.125; }

[data-page-number="41"] figure img {
  --scale: 1.125;
  --transY: 3px; }

[data-page-number="44"] figure img {
  filter: grayscale(1) contrast(1.5); }

[data-page-number="45"] figure img {
  filter: grayscale(1) contrast(1.5); }

[data-page-number="48"] figure img {
  filter: grayscale(1) contrast(1.5); }

[data-page-number="49"] figure img {
  filter: grayscale(1) contrast(1.5); }

@page afterwood {}@page afterword :left {
  @bottom-left {
    content: counter(page);
    font-family: "Spectral", sans-serif;
    font-size: 10px;
    line-height: 14px;
    font-weight: normal;
    letter-spacing: -.5px;
    color: #222;
    border-top: 1px solid #222;
    width: 5mm;
    margin: 10mm 0 0 0mm;
    padding: 2mm 0mm 0 2.5mm;
    align-items: flex-start; } }

@page afterword :first {
  @bottom-left {
    content: none;
    border: none; } }

@page afterword :right {
  @bottom-right {
    content: counter(page);
    font-family: "Spectral", sans-serif;
    font-size: 10px;
    line-height: 14px;
    font-weight: normal;
    letter-spacing: -.5px;
    color: #222;
    border-top: 1px solid #222;
    width: 5mm;
    margin: 10mm 0 0 0;
    padding: 2mm 2.5mm 0 0mm;
    align-items: flex-start;
    text-align: right; } }

@page afterword :blank {
  @bottom-right {
    content: none;
    border: none; }
  @bottom-left {
    content: none;
    border: none; } }

/*							*
	*	Regular CSS 	*
*							*/
#afterword {
  page: afterword;
  break-before: right;
  break-after: left; }
  #afterword h2 {
    font-family: "Bajaderka";
    font-size: 40px;
    line-height: 56px;
    font-weight: normal;
    letter-spacing: -1px;
    color: #222;
    transform: rotate(-3deg);
    transform-origin: center;
    display: inline-block;
    top: 7.5px;
    left: 30px; }
  #afterword h3 {
    font-family: "Imbue";
    font-size: 100px;
    line-height: 75px;
    font-weight: 200;
    font-variation-settings: "wght" 200;
    letter-spacing: -1px;
    color: #222;
    text-align: center;
    text-transform: uppercase;
    align-self: center;
    margin-bottom: 14px; }
  #afterword p {
    font-family: "Spectral", sans-serif;
    font-size: 15px;
    line-height: 21px;
    font-weight: normal;
    letter-spacing: 0px;
    color: #222;
    text-align: justify;
    text-indent: 5mm;
    letter-spacing: -0.01px; }
  #afterword h3 + p {
    font-family: "Spectral", sans-serif;
    font-size: 10px;
    line-height: 14px;
    font-weight: normal;
    letter-spacing: -.5px;
    color: #222;
    text-align: center !important;
    font-weight: bold !important;
    margin-bottom: 42px;
    text-indent: inherit !important; }
    #afterword h3 + p + p {
      text-indent: inherit !important; }
  #afterword hr {
    margin-bottom: 403px; }
  #afterword sup {
    margin: 0 2px; }
  #afterword .footnotes {
    counter-reset: count; }
    #afterword .footnotes ol {
      list-style: none; }
    #afterword .footnotes li {
      width: calc(100% - 8mm);
      counter-increment: count; }
      #afterword .footnotes li::marker {
        font-size: 10px; }
      #afterword .footnotes li::before {
        content: counters(count, ".", decimal-leading-zero);
        font-family: "Spectral", sans-serif;
        font-size: 10px;
        line-height: 14px;
        font-weight: normal;
        letter-spacing: -.5px;
        color: #222;
        position: absolute; }
      #afterword .footnotes li p {
        font-family: "Spectral", sans-serif;
        font-size: 10px;
        line-height: 14px;
        font-weight: normal;
        letter-spacing: -.5px;
        color: #222;
        text-indent: inherit;
        left: 6mm;
        margin-left: 2mm; }
      #afterword .footnotes li .footnote-backref {
        display: none; }

[data-page-number="51"] section > p {
  letter-spacing: -.55px; }

[data-page-number="52"] section > p:first-child {
  text-indent: inherit;
  letter-spacing: .1px; }

[data-page-number="53"] section > p:first-child {
  letter-spacing: -.3px; }

[data-page-number="53"] section > p:nth-child(2) {
  letter-spacing: -.1px; }

[data-page-number="53"] section > p:last-child {
  letter-spacing: -.6px; }

[data-page-number="55"] section > p:first-child {
  letter-spacing: -.1px; }

[id='fn:8'] p {
  letter-spacing: -.3px !important; }

/*							*
	*	Regular CSS 	*
*							*/
@page colophon :left {
  @bottom-left {
    content: counter(page);
    font-family: "Spectral", sans-serif;
    font-size: 10px;
    line-height: 14px;
    font-weight: normal;
    letter-spacing: -.5px;
    color: #222;
    border-top: 1px solid #222;
    width: 5mm;
    margin: 10mm 0 0 0mm;
    padding: 2mm 0mm 0 2.5mm;
    align-items: flex-start; } }

@page colophon :first {
  @bottom-left {
    content: none;
    border: none; } }

@page colophon :right {
  @bottom-right {
    content: counter(page);
    font-family: "Spectral", sans-serif;
    font-size: 10px;
    line-height: 14px;
    font-weight: normal;
    letter-spacing: -.5px;
    color: #222;
    border-top: 1px solid #222;
    width: 5mm;
    margin: 10mm 0 0 0;
    padding: 2mm 2.5mm 0 0mm;
    align-items: flex-start;
    text-align: right; } }

#colophon {
  page: colophon;
  height: 100%;
  break-before: left; }
  #colophon h2 {
    display: none; }
  #colophon > ul {
    position: absolute;
    bottom: 0;
    font-family: "Spectral", sans-serif;
    font-size: 10px;
    line-height: 14px;
    font-weight: normal;
    letter-spacing: -.5px;
    color: #222; }
    #colophon > ul > li span {
      left: 90px;
      position: absolute; }
    #colophon > ul > li ul {
      position: relative;
      top: -14px;
      left: 90px; }
    #colophon > ul > li:nth-of-type(1) {
      width: 55%;
      margin-bottom: 14px; }
    #colophon > ul > li:nth-of-type(3) span {
      width: 50mm; }
    #colophon > ul > li:nth-of-type(3) span {
      width: 45mm; }
    #colophon > ul > li:nth-of-type(4) {
      margin-top: 14px; }

@page index :left {
  @bottom-left {
    content: counter(page);
    font-family: "Spectral", sans-serif;
    font-size: 10px;
    line-height: 14px;
    font-weight: normal;
    letter-spacing: -.5px;
    color: #222;
    border-top: 1px solid #222;
    width: 5mm;
    margin: 10mm 0 0 0mm;
    padding: 2mm 0mm 0 2.5mm;
    align-items: flex-start; } }

@page index :first {
  @bottom-left {
    content: none;
    border: none; } }

@page index :right {
  @bottom-right {
    content: counter(page);
    font-family: "Spectral", sans-serif;
    font-size: 10px;
    line-height: 14px;
    font-weight: normal;
    letter-spacing: -.5px;
    color: #222;
    border-top: 1px solid #222;
    width: 5mm;
    margin: 10mm 0 0 0;
    padding: 2mm 2.5mm 0 0mm;
    align-items: flex-start;
    text-align: right; } }

@page index :blank {
  @bottom-right {
    content: none;
    border: none; }
  @bottom-left {
    content: none;
    border: none; } }

/*							*
	*	Regular CSS 	*
*							*/
#index {
  page: index;
  break-before: right;
  height: 100%; }
  #index h2 {
    font-family: "Bajaderka";
    font-size: 40px;
    line-height: 56px;
    font-weight: normal;
    letter-spacing: -1px;
    color: #222;
    transform-origin: center;
    display: inline-block;
    margin-bottom: 56px; }
  #index .disclaimer {
    margin-bottom: 28px;
    width: 80%;
    font-style: italic; }
  #index ul {
    max-height: 590px;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%; }
    #index ul li {
      margin-bottom: 14px;
      margin-left: 2mm;
      display: flex;
      flex-direction: column;
      width: calc( 33.3333% - 12px - 4mm);
      margin-right: 12.5px; }
      #index ul li a.ref {
        font-family: "Spectral", sans-serif;
        font-size: 10px;
        line-height: 14px;
        font-weight: normal;
        letter-spacing: -.5px;
        color: #222;
        font-weight: bold; }
        #index ul li a.ref::before {
          content: target-counter(attr(href url), page) " ";
          left: -2mm; }
      #index ul li p {
        font-family: "Spectral", sans-serif;
        font-size: 10px;
        line-height: 14px;
        font-weight: normal;
        letter-spacing: -.5px;
        color: #222;
        text-align: left;
        left: 12px; }
      #index ul li p:first-of-type {
        font-style: italic; }
      #index ul li:nth-of-type(7) p:last-of-type {
        letter-spacing: -1.2px !important; }
      #index ul li:nth-of-type(8) p:last-of-type {
        letter-spacing: -1px !important; }
