@page afterwood{
	
}


@page afterword :left{

	@bottom-left   {
		content: counter(page);
		@include f2-s0();
		border-top: 1px solid $text-color;
		width: 5mm;
		margin: 10mm 0 0 0mm;
		padding: 2mm 0mm 0 2.5mm;
		align-items: flex-start;
	}
}

@page afterword :first{
  @bottom-left { content: none; border: none;}
}

@page afterword :right{

	@bottom-right   {
		content: counter(page);
		@include f2-s0();
		border-top: 1px solid $text-color;
		width: 5mm;
		margin: 10mm 0 0 0;
		padding: 2mm 2.5mm 0 0mm;
		align-items: flex-start;
		text-align: right;
	}
}

@page afterword :blank{
  @bottom-right { content: none; border: none;}
  @bottom-left { content: none; border: none;}
}

/*							*
	*	Regular CSS 	*
*							*/

#afterword{
	page: afterword;
	break-before: right;
	break-after: left;

	h2{
		@include f3-s3()

		transform: rotate(-3deg);
		transform-origin: center;
		display: inline-block;
		top: 7.5px;
		left: 30px;
	}

	h3{
		@include f1-s4;
		text-align: center;
		text-transform: uppercase;
		align-self: center;

		margin-bottom: $baseline;
	}

	p{
		@include f2-s1;
		text-align: justify;
		//text-align-last: right;
		text-indent: 5mm;
		letter-spacing: -0.01px;

	}

	h3 + p{
		//@include f2-s0;
		@include f2-s0;
		text-align: center !important;
		font-weight: bold !important;
		margin-bottom: $baseline*3;
		text-indent: inherit !important;

		& + p{text-indent: inherit !important;}

	}

	hr{margin-bottom: 403px}
	sup{margin: 0 2px;}

	.footnotes{
		counter-reset: count;
		ol{list-style: none;}
		li{
			width: calc(100% - 8mm);
			counter-increment: count;
			&::marker { font-size: 10px;}

			&::before {
			  content: counters(count, ".", decimal-leading-zero);
			  @include f2-s0;
			  position: absolute;
			}
			p{
				@include f2-s0; 
				text-indent: inherit;
			    left: 6mm;
			    margin-left: 2mm;
			}
			.footnote-backref {display: none;}
		}
	}
}

[data-page-number="51"] section > p{ letter-spacing: -.55px}
[data-page-number="52"] section > p:first-child{text-indent: inherit; letter-spacing: .1px;}
[data-page-number="53"] section > p:first-child{letter-spacing: -.3px}
[data-page-number="53"] section > p:nth-child(2){letter-spacing: -.1px}
[data-page-number="53"] section > p:last-child{letter-spacing: -.6px}
[data-page-number="55"] section > p:first-child{letter-spacing: -.1px}

[id='fn:8'] p{letter-spacing: -.3px !important;}