.pagedjs_citation_page .pagedjs_area main{ 
	@include grid()
}


@page citation :right{

	@bottom-right   {
		content: counter(page);
		@include f2-s0();
		border-top: 1px solid $text-color;
		width: 5mm;
		margin: 10mm 0 0 0;
		padding: 2mm 2.5mm 0 0mm;
		align-items: flex-start;
		text-align: right;
	}
}

#citation{
	page: citation;
	break-before: right;
	
	grid-row: 3;
	grid-column: 1 / 12;
	align-self: center;
	justify-self: center;
	
	p{
		@include f2-s2();
		font-style: italic;
	}

	footer{
		//display: none;
		@include f2-s0();
		margin-top: 10px;
		text-align: center;		

		cite{
			display: block;
			left: 21px;	
		}
	}
}