/*							*
	*	Regular CSS 	*
*							*/
@page colophon :left{

	@bottom-left   {
		content: counter(page);
		@include f2-s0();
		border-top: 1px solid $text-color;
		width: 5mm;
		margin: 10mm 0 0 0mm;
		padding: 2mm 0mm 0 2.5mm;
		align-items: flex-start;
	}
}

@page colophon :first{
  @bottom-left { content: none; border: none;}
}

@page colophon :right{

	@bottom-right   {
		content: counter(page);
		@include f2-s0();
		border-top: 1px solid $text-color;
		width: 5mm;
		margin: 10mm 0 0 0;
		padding: 2mm 2.5mm 0 0mm;
		align-items: flex-start;
		text-align: right;
	}
}

#colophon{
	page: colophon;
	height: 100%;
	break-before: left;

	h2{display: none;}


	> ul{
		position: absolute;
		bottom: 0;

		@include f2-s0; 

		> li{
			span{
				left: 90px;
				position: absolute;
			}

			ul{
				position: relative;
				top: -14px;
				left: 90px;
			}

			&:nth-of-type(1){width: 55%; margin-bottom: $baseline;}
			&:nth-of-type(3) span{width: 50mm;}
			&:nth-of-type(3) span{width: 45mm;}
			&:nth-of-type(4){margin-top: $baseline}
		}
	}

}