$teinte: #fff ; 
$volet: 60mm;

html{overflow: visible}

#Cover{
	background: $teinte;
	height: $page-height;
	width: calc( #{$page-width} * 2 + #{$cover-spine} + #{$volet});

	margin: 3em auto;
	position: relative;
	border: $page-bleed solid $teinte;

	&:before, &:after, #cropSpine:before, #cropVolet:before{
	  position: absolute;
	  content: '';
	  border: solid black;
	  z-index: -1;
	}
	&:before {
	  top: -32px; bottom: -32px;
	  left: 0; right: 0;
	  border-width: 0 1px;
	}
	&:after {
	  left: -32px; right: -32px;
	  top: 0; bottom: 0;
	  border-width: 1px 0;
	}
	#cropSpine:before, #cropVolet:before {
	  top: -32px; bottom: -32px;
	  left: 0; right: 0;
	  border-width: 0 1px;
	  width: 100%;
	}

	#Front{
		height: $page-width;
		width: $page-height;
		right: -7.5mm;
		top: 67mm;

		transform: rotate(-90deg);
		transform-origin: center;
		
	}

	#Back{
		height: $page-height;
		width: $page-width;
		top: 0;
		left: 0;
	}
	#Spine, #cropSpine {
		height: $page-height;
		width: $cover-spine;
		left: $page-width;
	}

	#Volet, #cropVolet{
		width: $volet;
		height: $page-height;
		left: calc( #{$page-width} * 2 + #{$cover-spine})
	}

	#cropSpine, #cropVolet{ z-index: -1; position: absolute;}

	> section{
		position: absolute;
		z-index: 1;
	}

	///
	// Specific
	///

	> svg{
		mix-blend-mode: multiply;
	}

	#Front{
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-template-rows: repeat(6,1fr);
		grid-column-gap: 4mm;
		grid-row-gap: 14px;
		padding: 4mm;
		box-sizing: border-box;

		.sub{
			grid-column: 1/7;
			grid-row: 4;
			align-self: start;
			justify-self: center;
		}


		.collection{
			grid-column: 5;
			grid-row: 2;

			@include f2-s1($text-color);
			line-height: 17px;
			width: 80%;
			text-align: left;
			text-transform: uppercase;	
			align-self: flex-end;
			top: 40px;
		}

		h1{
			grid-column: 1/7;
			grid-row: 3/6;
			align-self: center;
			justify-self: center;

			@include f1-s4($text-color);
			font-size: 240px;
			text-align: left;
			text-transform: uppercase;
			align-self: center;

			justify-self: flex-start;
			top: 22px;

			.minor{
				@include f3-s3($text-color)
				display: block;
				text-transform: initial;
				top: -63px;
				left: 80px;
			}
		}

		.part{

			@include f2-s1($text-color);
			grid-column: 5;
			grid-row: 6;
			align-self: center;
			
		}

		.subtitle{
			@include f2-s1($text-color);
			//font-weight: bold;
			grid-column: 6;
			grid-row: 6;
			align-self: center;
		}

	}

	#Back{

		figure{
			width: 70mm;
			position: absolute;
			top: 15mm;
			left: 50%;
			transform: translateX(-50%);
			overflow: hidden;
			img{
				width: 100%;
				transform: scale(1.15);
				transform-origin: center;
			}
		}
		p{
			@include f2-s1($text-color);
			text-align: center;
    		vertical-align: bottom;
   			top: calc(100% - 120px);
		}
	}

	#Spine{
		/*display: grid;
		grid-template-rows: 26mm 5mm 5mm 46% 0fr;
		grid-template-columns: 4mm;
		justify-content: start;*/

		> *{ transform: rotate(90deg); transform-origin: right;}

		.collection{
			// grid-row: 5 / 6 span;
			// align-self: center;
			width: 50mm;

			@include f2-s0($text-color);
			text-transform: uppercase;
			
			top: 85mm;
			left: -47.5mm;
			position: absolute;			

		}

		h1{

			/*grid-row: 1;
			width: 50mm;
			@include f1-s0($text-color);
			text-align: center;
			text-transform: uppercase;
			align-self: flex-start;

			align-items: baseline;
			left: -7px;*/
			display: none;

			.minor{
				@include f3-s1($text-color)
				display: inline-block;
				text-transform: initial;
				margin-right: 2px;
			}
		}


		.part{
			grid-row: 2;
			align-self: flex-start;
			width: 20mm;
			@include f2-s0($text-color);
			display: none;
		}

		.subtitle{
			grid-row: 3;
			align-self: flex-start;
			width: 15mm;			
			@include f2-s0($text-color);
			font-size: 13px;
			text-align: center;
			left: -12.5mm;
			top: 96mm;
			border-left: 1px solid $text-color;

			&:before{
				//content: "";
				width: 3px;
				height: 3px;
				border: 1pt solid $text-color;
				margin: 1mm;
				border-radius: 50%;
				display: inline-block;
				z-index: 100;
				top: -1px; 
		        position: absolute;
		        left: 155mm;
			}
		}		
	}

	#Volet{
		padding: 18mm 3mm 3mm 3mm;
		box-sizing: border-box;

		h2{
			@include f1-s1($text-color);
			text-transform: uppercase;
			margin-bottom: $baseline;
		}

		p{
			@include f2-s1($text-color);
			letter-spacing: -.2px;
		}

	}
}


@media print { 
	// Roots element qui ne servent à rien.
	html, body, #pages, .page{
		padding: 0;
		margin: 0 !important; 
		background: none;
	}

	#Cover{background: white; border-color: white;}


	@page {
		size: calc(#{$cover-spine} + #{$page-width * 2} + #{$page-bleed*2} + 164px ) calc( #{$page-height} + #{$page-bleed*2} + 164px );
		margin: 0;
		padding: 0;
	}
}

