
#Cover {
  background: #666;
  height: 240mm;
  width: calc( 110mm * 2 + 4mm);
  margin: 3em auto;
  position: relative;
  border: 5mm solid #666;
  /*> svg{ 
		position: absolute;
		width: calc(100% + 20mm );
		height: calc(100% + 10mm );
		left: -10mm;
		top: -5mm;
		z-index: 0;
	}*/ }
  #Cover:before, #Cover:after, #Cover #cropSpine:before {
    position: absolute;
    content: '';
    border: solid black;
    z-index: -1; }
  #Cover:before {
    top: -32px;
    bottom: -32px;
    left: 0;
    right: 0;
    border-width: 0 1px; }
  #Cover:after {
    left: -32px;
    right: -32px;
    top: 0;
    bottom: 0;
    border-width: 1px 0; }
  #Cover #cropSpine:before {
    top: -32px;
    bottom: -32px;
    left: 0;
    right: 0;
    border-width: 0 1px;
    width: 100%; }
  #Cover #Front, #Cover #Back {
    height: 240mm;
    width: 110mm; }
  #Cover #Front {
    top: 0;
    right: 0; }
  #Cover #Back {
    top: 0;
    left: 0; }
  #Cover #Spine, #Cover #cropSpine {
    height: 240mm;
    width: 4mm;
    left: 110mm; }
  #Cover #cropSpine {
    z-index: -1;
    position: absolute; }
  #Cover > section {
    position: absolute;
    z-index: 1; }
  #Cover #map {
    position: absolute;
    width: calc(220mm + 4mm + 32px);
    height: calc(240mm + 32px);
    top: -16px;
    left: -16px;
    overflow: hidden;
    mix-blend-mode: multiply; }
    #Cover #map img {
      width: 380mm;
      transform: rotate(90deg);
      left: -58mm; }
  #Cover > svg {
    mix-blend-mode: multiply; }
  #Cover #Front {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1fr 1fr 4fr;
    grid-column-gap: 4mm;
    grid-row-gap: 14px; 
    justify-content: flex-start;
    width: 240mm;
    height: 110mm;
    transform: rotate(-90deg) translateY(-100%);
    transform-origin: top right;
}
    #Cover #Front .sub {
      grid-column: 1/7;
      grid-row: 4;
      align-self: start;
      justify-self: center; }
    #Cover #Front .collection {
      grid-column: 1 / 2;
      font-family: "Spectral", sans-serif;
      font-size: 10px;
      line-height: 14px;
      font-weight: normal;
      letter-spacing: -.5px;
      color: white;
      text-align: left;
      text-transform: uppercase;
      align-self: flex-start; 
      grid-row: 2;
}
    #Cover #Front h1 {
      grid-column: 1/9;
      grid-row: 2 / 4;
      align-self: center;
      justify-self: center;
      font-family: "Imbue";
      font-size: 275px;
      line-height: normal;
      font-weight: 200;
      font-variation-settings: "wght" 200;
      letter-spacing: -5px;
      color: white;
      text-align: center;
      text-transform: uppercase;
      /*! align-self: flex-start; */
      left: -3px; 
      top: 59px;
}
      #Cover #Front h1 .minor {
        font-family: "Bajaderka";
        font-size: 41px;
        line-height: normal;
        font-weight: normal;
        letter-spacing: -1px;
        color: white;
        display: block;
        text-transform: initial; 
        position: absolute;
        top: -17px;
        left: 2px;
}
    #Cover #Front .part {
      grid-column: 3;
      font-family: "Spectral", sans-serif;
      font-size: 11px;
      line-height: normal;
      font-weight: normal;
      letter-spacing: -.5px;
      color: white;
      text-align: left;
      grid-row: 2;
      /*! align-self: baseline; */
      top: -26px;
}
    #Cover #Front .subtitle {
      grid-column: 3;
      font-family: "Spectral", sans-serif;
      font-size: 11px;
      line-height: 21px;
      font-weight: normal;
      letter-spacing: 0px;
      color: white;
      text-align: left;
      font-weight: bold;
      grid-row: 2;
      top: -12px;
}
  #Cover #Spine {
    /*! display: grid; */
    grid-template-rows: 26mm 5mm 5mm 46% 0fr;
    grid-template-columns: 4mm;
    justify-content: start; }
    #Cover #Spine > * {
      transform: rotate(-90deg);
      transform-origin: right; }
    #Cover #Spine .collection {
      grid-row: 5 / 6 span;
      /*! align-self: center; */
      width: 50mm;
      font-family: "Spectral", sans-serif;
      font-size: 10px;
      line-height: 14px;
      font-weight: normal;
      letter-spacing: -.5px;
      color: white;
      text-transform: uppercase; 
      top: 131mm;
      left: -47.5mm;
      position: absolute;
}
    #Cover #Spine h1 {
      grid-row: 1;
      width: 50mm;
      font-family: "Imbue";
      font-size: 15px;
      line-height: 21px;
      font-weight: 200;
      font-variation-settings: "wght" 200;
      letter-spacing: -.5px;
      color: white;
      text-align: center;
      text-transform: uppercase;
      align-self: flex-start;
      display: flex;
      align-items: baseline;
      left: -7px; }
      #Cover #Spine h1 .minor {
        font-family: "Bajaderka";
        font-size: 20px;
        line-height: 28px;
        font-weight: normal;
        letter-spacing: -1px;
        color: white;
        display: inline-block;
        text-transform: initial;
        margin-right: 2px; }
    #Cover #Spine .part {
      grid-row: 2;
      align-self: flex-start;
      width: 20mm;
      font-family: "Spectral", sans-serif;
      font-size: 10px;
      line-height: 14px;
      font-weight: normal;
      letter-spacing: -.5px;
      color: white; }
    #Cover #Spine .subtitle {
      grid-row: 3;
      align-self: flex-start;
      width: 15mm;
      font-family: "Spectral", sans-serif;
      font-size: 10px;
      line-height: 14px;
      font-weight: normal;
      letter-spacing: -.5px;
      color: white;
      font-size: 13px;
      text-align: center; 
      left: -12.5mm;
      top: -10mm;
      color: transparent;
}
      #Cover #Spine .subtitle:before {
        content: "";
        width: 3px;
        height: 3px;
        border: 2px solid white;
        margin: 1mm;
        border-radius: 50%;
        display: inline-block;
        z-index: 100;
        top: -1px; 
        position: absolute;
        left: -57mm;
}

@page index :left {
  @bottom-left {
    content: counter(page);
    font-family: "Spectral", sans-serif;
    font-size: 10px;
    line-height: 14px;
    font-weight: normal;
    letter-spacing: -.5px;
    color: #222;
    border-top: 1px solid #222;
    width: 5mm;
    margin: 10mm 0 0 0mm;
    padding: 2mm 0mm 0 2.5mm;
    align-items: flex-start; } }

@page index :first {
  @bottom-left {
    content: none;
    border: none; } }

@page index :right {
  @bottom-right {
    content: counter(page);
    font-family: "Spectral", sans-serif;
    font-size: 10px;
    line-height: 14px;
    font-weight: normal;
    letter-spacing: -.5px;
    color: #222;
    border-top: 1px solid #222;
    width: 5mm;
    margin: 10mm 0 0 0;
    padding: 2mm 2.5mm 0 0mm;
    align-items: flex-start;
    text-align: right; } }

@page index :blank {
  @bottom-right {
    content: none;
    border: none; }
  @bottom-left {
    content: none;
    border: none; } }

/*							*
	*	Regular CSS 	*
*							*/
#index {
  page: index;
  break-before: right;
  height: 100%; }
  #index h2 {
    font-family: "Bajaderka";
    font-size: 40px;
    line-height: 56px;
    font-weight: normal;
    letter-spacing: -1px;
    color: #222;
    transform-origin: center;
    display: inline-block;
    margin-bottom: 56px; }
  #index .disclaimer {
    margin-bottom: 28px;
    width: 80%;
    font-style: italic; }
  #index ul {
    column-count: 3;
    max-height: 581px;
    column-fill: auto;
    overflow: hidden;
    position: absolute;
    bottom: 0; }
    #index ul li {
      margin-bottom: 7px;
      margin-left: 4mm;
      display: flex;
      flex-direction: column; }
      #index ul li a.ref {
        font-family: "Spectral", sans-serif;
        font-size: 10px;
        line-height: 14px;
        font-weight: normal;
        letter-spacing: -.5px;
        color: #222;
        font-weight: bold; }
        #index ul li a.ref::before {
          content: target-counter(attr(href url), page) " ";
          left: -4mm; }
      #index ul li p {
        font-family: "Spectral", sans-serif;
        font-size: 10px;
        line-height: 14px;
        font-weight: normal;
        letter-spacing: -.5px;
        color: #222;
        text-align: left;
        left: 12px; }
      #index ul li p:first-of-type {
        font-style: italic; }
      #index ul li:nth-of-type(8) p:last-of-type {
        letter-spacing: -1px !important; }


	> svg{
		mix-blend-mode: multiply;
	}

	#Front{
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-template-rows: repeat(6,1fr);
		grid-column-gap: 4mm;
		grid-row-gap: 14px;

		width: 240mm;
		height: 110mm;
		transform: rotate(-90deg) translateY(-100%);
		transform-origin: top right;

		.sub{
			grid-column: 1/7;
			grid-row: 4;
			align-self: start;
			justify-self: center;
		}


		.collection{
			grid-column: 1 / 6 span;

			@include f2-s0(white);
			text-align: center;
			text-transform: uppercase;	
			align-self: center;
		}

		h1{
			grid-column: 1/7;
			grid-row: 2;
			align-self: center;
			justify-self: center;

			@include f1-s4(white);
			text-align: center;
			text-transform: uppercase;
			align-self: center;

			left: -7px;

			.minor{
				@include f3-s3(white)
				display: block;
				text-transform: initial;
			}
		}

		.part{
			grid-column: 1 / 6 span;

			@include f2-s0(white);
			text-align: center;
			grid-row: 4/5;
			align-self: center;
			top: $baseline * -1;
		}

		.subtitle{
			grid-column: 1 / 6 span;

			@include f2-s1(white);
			text-align: center;
			font-weight: bold;
			grid-row: 4/5;
			align-self: center;
		}

	}

	#Spine{
		display: grid;
		grid-template-rows: 26mm 5mm 5mm 46% 0fr;
		grid-template-columns: 4mm;
		justify-content: start;

		> *{ transform: rotate(90deg); transform-origin: bottom left;}

		.collection{
			grid-row: 5 / 6 span;
			align-self: center;
			width: 50mm;

			@include f2-s0(white);
			text-transform: uppercase;	

		}

		h1{

			grid-row: 1;
			width: 50mm;
			@include f1-s0(white);
			text-align: center;
			text-transform: uppercase;
			align-self: flex-start;

			display: flex;
			align-items: baseline;
			left: -7px;

			.minor{
				@include f3-s1(white)
				display: inline-block;
				text-transform: initial;
				margin-right: 2px;
			}
		}


		.part{
			grid-row: 2;
			align-self: flex-start;
			width: 20mm;
			@include f2-s0(white);
		}

		.subtitle{
			grid-row: 3;
			align-self: flex-start;
			width: 15mm;			
			@include f2-s0(white);
			font-size: 13px;
			text-align: center;

			&:before{
				content: "";
				width: 3px;
				height: 3px;
				border: 1px solid white;
				margin: 1mm;
				border-radius: 50%;
				display: inline-block;
				z-index: 100;
				top: 3px;
			}
		}		
	}
}


