
@page index :left{

	@bottom-left   {
		content: counter(page);
		@include f2-s0();
		border-top: 1px solid $text-color;
		width: 5mm;
		margin: 10mm 0 0 0mm;
		padding: 2mm 0mm 0 2.5mm;
		align-items: flex-start;
	}
}

@page index :first{
  @bottom-left { content: none; border: none;}
}

@page index :right{

	@bottom-right   {
		content: counter(page);
		@include f2-s0();
		border-top: 1px solid $text-color;
		width: 5mm;
		margin: 10mm 0 0 0;
		padding: 2mm 2.5mm 0 0mm;
		align-items: flex-start;
		text-align: right;
	}
}

@page index :blank{
  @bottom-right { content: none; border: none;}
  @bottom-left { content: none; border: none;}
}
/*							*
	*	Regular CSS 	*
*							*/

#index{
	page: index;
	break-before: right;
	height: 100%;


	h2{
		@include f3-s3()
		//transform: rotate(-3deg);
		transform-origin: center;
		display: inline-block;

		//margin-bottom: calc(#{$page-height - $page-margin_top - $page-margin_bottom} / 4 );
		margin-bottom: $baseline*4;
	}

	.disclaimer{
		margin-bottom: $baseline*2;
		width: 80%;
		font-style: italic;
	}

	ul{
		max-height: 590px;
		position: absolute;
		bottom: 0;
		display: flex;
		flex-direction: column;
    	flex-wrap: wrap;
    	width: 100%;

		li{

			margin-bottom: $baseline;
			margin-left: 2mm;
			display: flex;
			flex-direction: column;
		    width: calc( 33.3333% - 12px - 4mm);
		    margin-right: $unite/2;

			a.ref{
				@include f2-s0;
				font-weight: bold;
				&::before {content: target-counter(attr(href url), page) " "; left: -2mm;}
			}

			p{
				@include f2-s0;
				text-align: left;
				left: 12px;
			}
			p:first-of-type{
				font-style: italic;
			}
			//&:first-of-type a{left: 5px !important;}

			&:nth-of-type(7) p:last-of-type{letter-spacing: -1.2px !important;}
			&:nth-of-type(8) p:last-of-type{letter-spacing: -1px !important;}
		}
	}

}