$teinte: white ; 
$volet: 60mm;

html{overflow: visible}

#inner_cover{
	background: $teinte;
	height: $page-height;
	width: calc( #{$page-width} * 2 + #{$cover-spine} + #{$volet});

	margin: 3em auto;
	position: relative;
	border: $page-bleed solid $teinte;

	&:before, &:after, #cropSpine:before, #cropVolet:before{
	  position: absolute;
	  content: '';
	  border: solid black;
	  z-index: -1;
	}
	&:before {
	  top: -32px; bottom: -32px;
	  left: 0; right: 0;
	  border-width: 0 1px;
	}
	&:after {
	  left: -32px; right: -32px;
	  top: 0; bottom: 0;
	  border-width: 1px 0;
	}
	#cropSpine:before, #cropVolet:before {
	  top: -32px; bottom: -32px;
	  left: 0; right: 0;
	  border-width: 0 1px;
	  width: 100%;
	}

	
	#Spine, #cropSpine {
		height: $page-height;
		width: $cover-spine;
		left: calc( #{$page-width} + #{$volet});
	}

	#Volet, #cropVolet{
		width: $volet;
		height: $page-height;
		left: 0;
	}

	#cropSpine, #cropVolet{ z-index: -1; position: absolute;}

	> section{
		position: absolute;
		z-index: 1;
	}

	///
	// Specific
	///

	> svg{
		mix-blend-mode: multiply;
	}


	#inner_map{
		position: absolute;
		width: calc(#{$page-width * 2} + #{$volet} + #{$cover-spine} + 32px);
		height: calc(#{$page-height} + 32px);
		top: -16px;
		left: -16px;
		overflow: hidden;
		mix-blend-mode: multiply;
		//opacity: .5;
		filter: brightness(1.05);

		img{
			transform: rotate(-90deg);
			left: 65px;
			top: -70px;
			max-width: 410mm;
			height: 285mm;
			position: absolute;
		}
	}
}


@media print { 
	// Roots element qui ne servent à rien.
	html, body, #pages, .page{
		padding: 0;
		margin: 0 !important; 
		background: none;
	}

	#Cover{background: white; border-color: white;}


	@page {
		size: calc(#{$cover-spine} + #{$page-width * 2} + #{$page-bleed*2} + 164px ) calc( #{$page-height} + #{$page-bleed*2} + 164px );
		margin: 0;
		padding: 0;
	}
}