@page inner_map :first{z-index: 10;}

@page inner_map :left{

	/*@bottom-left   {
		content: counter(page);
		@include f2-s0();
		border-top: 1px solid $text-color;
		width: 5mm;
		margin: 10mm 0 0 0mm;
		padding: 2mm 0mm 0 2.5mm;
		align-items: flex-start;
	}*/
}

@page inner_map :right{

	@bottom-right   {
		content: counter(page);
		@include f2-s0();
		border-top: 1px solid $text-color;
		width: 5mm;
		margin: 10mm 0 0 0;
		padding: 2mm 2.5mm 0 0mm;
		align-items: flex-start;
		text-align: right;
	}
}
@page inner_map :right{

	@bottom-right   {
		content: counter(page);
		@include f2-s0();
		border-top: 1px solid $text-color;
		width: 5mm;
		margin: 10mm 0 0 0;
		padding: 2mm 2.5mm 0 0mm;
		align-items: flex-start;
		text-align: right;
	}
}

#inner_map{
	page: inner_map;
	height: 100%;
}

.pagedjs_inner_map_page{
	//.pagedjs_sheet{overflow: visible !important;}
	figure{ 
		width: calc(#{$page-width} + 1mm);
		height: calc(#{$page-height} - 25mm);
		top: calc(#{$page-margin_top * -1} + 5mm);

		overflow: hidden;

		border: 1.5px solid black;

		img{
			width: 340mm;
			left: -440px;
			top: -20px;
			filter: contrast(1.25);
		}

		&:not(.hackOverflow){
			left: $page-margin_grand_fond * -.5;
			img{
				left: -470px;
			}
		}
		&.hackOverflow{
			left: calc(#{$page-margin_petit_fond * -1} - 5mm - 1mm);
			img{
				left: -824px;
			}
		}
	}
}

