$photo-margin : 5mm;

@page photography{
	margin: $photo-margin $photo-margin $page-margin_bottom $photo-margin;
}

@page photography :left{

	@bottom-left   {
		content: counter(page);
		@include f2-s0();
		border-top: 1px solid $text-color;
		width: 5mm;
		margin: 10mm 0 0 0mm;
		padding: 2mm 0mm 0 2.5mm;
		align-items: flex-start;
	}
}

@page photography :first{
  @bottom-left { content: none; border: none;}
}

@page photography :right{

	@bottom-right   {
		content: counter(page);
		@include f2-s0();
		border-top: 1px solid $text-color;
		width: 5mm;
		margin: 10mm 0 0 0;
		padding: 2mm 2.5mm 0 0mm;
		align-items: flex-start;
		text-align: right;
	}
}

/*							*
	*	Regular CSS 	*
*							*/

#photography{

	page: photography;
	height: 100%;
	//break-before: right;

	figure{
		display: inline-block;
		break-before: page;
		overflow: hidden;
		img{
			--scale: 1.2;
			--transX: 0;
			--transY: 0;
			width: 100%;
			filter: grayscale(1);
			transform: scale(var(--scale)) translate3d(var(--transX), var(--transY), 0);
		}
	}

	//figure:nth-of-type(4){break-after: left}
	//figure:nth-of-type(5){break-after: left}

	.text{
		@include f2-s1();
		position: absolute;
		bottom: 0;
	}
}

[data-page-number="12"], [data-page-number="13"]{
	figure{ width: calc(#{$page-width * 1.333} - #{$photo-margin * 2});}
}
[data-page-number="13"] figure{left: calc( var(--pagedjs-pagebox-width) * -1);}
/**/
[data-page-number="14"], [data-page-number="15"]{
	figure{ width: calc(#{$page-width * 2} - #{$photo-margin * 2});}
}
[data-page-number="15"] figure{left: calc( var(--pagedjs-pagebox-width) * -1);}
/**/
[data-page-number="26"] figure{ display: none}
/**/
[data-page-number="28"] figure{ display: none}
/**/
[data-page-number="29"]{
	figure{ position: absolute;bottom: 0;}
}
/**/
[data-page-number="30"], [data-page-number="31"]{
	figure{ width: calc(#{$page-width * 1.75} - #{$photo-margin * 2});}
}
[data-page-number="30"] figure{left: calc( var(--pagedjs-pagebox-width) * .245);}
[data-page-number="31"] figure{ right: 0;  position: absolute;}
/**/
[data-page-number="42"], [data-page-number="43"]{
	figure{ width: calc(#{$page-width * 2} - #{$photo-margin * 2});}
}
[data-page-number="43"] figure{left: calc( var(--pagedjs-pagebox-width) * -1);}
/**/
[data-page-number="44"], [data-page-number="45"]{
	figure{ width: calc(#{$page-width * 2} - #{$photo-margin * 2});}
}
[data-page-number="45"] figure{left: calc( var(--pagedjs-pagebox-width) * -1);}
/**/
[data-page-number="48"], [data-page-number="49"]{
	figure{ width: calc(#{$page-width * 2} - #{$photo-margin * 2});}
}
[data-page-number="49"] figure{left: calc( var(--pagedjs-pagebox-width) * -1);}
/**/

//
// Img
//
[data-page-number="9"] figure img{ filter: grayscale(1) contrast(1.25);}
[data-page-number="10"] figure img{ filter: grayscale(1) contrast(1.75);}
[data-page-number="11"] figure img{ filter: grayscale(1) contrast(1.75);}
[data-page-number="12"] figure img{ filter: grayscale(1) contrast(2);}
[data-page-number="13"] figure img{ filter: grayscale(1) contrast(2);}
[data-page-number="24"] figure img{ filter: grayscale(1) contrast(1.5);}
[data-page-number="35"] figure img{ filter: grayscale(1) contrast(1.75) brightness(.8);}
[data-page-number="36"] figure img{ filter: grayscale(1) contrast(1.85);}
[data-page-number="37"] figure img{ filter: grayscale(1) contrast(1.3);}
[data-page-number="38"] figure img{ filter: grayscale(1) contrast(1.25) }
[data-page-number="40"] figure img{ --scale: 1.125}
[data-page-number="41"] figure img{ --scale: 1.125; --transY: 3px;}
[data-page-number="44"] figure img{ filter: grayscale(1) contrast(1.5);}
[data-page-number="45"] figure img{ filter: grayscale(1) contrast(1.5);}
[data-page-number="48"] figure img{ filter: grayscale(1) contrast(1.5);}
[data-page-number="49"] figure img{ filter: grayscale(1) contrast(1.5);}