@page tableOfContent :left{

}
@page tableOfContent :right{
}


/*							*
	*	Regular CSS 	*
*							*/

#tableOfContent{
	
	page: tableOfContent;
	//break-before: right;

	@include grid(5)
	
	ul{
		grid-row: 2/6;
		grid-column: 2 / 6;

		li{
			@include f1-s2;
			text-transform: uppercase;

			/*a{
				display: flex;
				justify-content: space-between;
				align-items: baseline;
				flex-direction: row;

				&::after{
					content: target-counter(attr(href), page);
					float: right;

					@include f4-s0;
				}
			}*/
			a{				

				&::after{
					content: target-counter(attr(href), page);
					@include f4-s0;
					position: absolute;
					left: -25px;
					top: 24px;
					text-align: right;
					width: 20px;
				}
			}

			&:last-of-type{display: none;}
		}
	}
}