[data-page-number="1"] .pagedjs_area main,
[data-page-number="3"] .pagedjs_area main{ 
	@include grid() 
}

#fauxTitre{
	@include f1-s2;
	text-align: center;
	text-transform: uppercase;
	grid-row: 2;
	align-self: center;

	.minor{
		@include f3-s2()
		display: block;
		text-transform: initial;
		line-height: $baseline * 1.25
	}
}
#fauxTitre + .collection{
	break-before: right;
}

.collection{
	@include f2-s0;
	text-align: center;
	text-transform: uppercase;	
	align-self: center;
}

h1{
	@include f1-s4;
	text-align: center;
	text-transform: uppercase;
	align-self: center;
	letter-spacing: -2.85px;

	.minor{
		@include f3-s3()
		display: block;
		text-transform: initial;
	}
}

.part{
	@include f2-s0;
	text-align: center;
	grid-row: 3/4;
	align-self: center;
	top: $baseline * -1;
}

.subtitle{
	@include f2-s1;
	text-align: center;
	font-weight: bold;
	grid-row: 3/4;
	align-self: center;
}

#intro{
	break-before: left;
	@include flex();
	@include flex-direction(column);
	@include justify-content(flex-end);
	//height: 100%;
	max-width: 51%;
	@include f2-s0($text-color-light);

	position: absolute;
	bottom: 0;

	> p{ 
		margin-top: $baseline*1;
		&:nth-child(1){letter-spacing: -.2px;}
	}

	
	
}