html, body{
	//width: 100vw;
	//height: auto;
	box-sizing: border-box;
	margin: 0 !important;
	background: lightgrey;
	z-index: -1
}
body{overflow-x: visible;}
hr{ border: none; }

// .pagedjs_pagebox {
//   grid-template-columns:  [left] var(--pagedjs-margin-left) 
//                           [center] calc(
//                             var(--pagedjs-pagebox-width) 
//                             - var(--pagedjs-margin-left) 
//                             - var(--pagedjs-margin-right)
//                             ) 
//                           [right] var(--pagedjs-margin-right);
//   grid-template-rows: [header] var(--pagedjs-margin-top) 
//                       [page] calc(
//                         var(--pagedjs-pagebox-height) 
//                         - var(--pagedjs-margin-top) 
//                         - var(--pagedjs-margin-bottom)
//                         ) 
//                       [footer] var(--pagedjs-margin-bottom);
// }

// .pagedjs_area{ height: 100%; box-sizing: border-box; overflow: hidden; max-height: 100%;}
// .pagedjs_area > div{ height: 100%; box-sizing: border-box; overflow: hidden; max-height: 100%;}
// .pagedjs_area > div > div{ height: 100%; box-sizing: border-box; overflow: hidden; max-height: 100%;}
// .pagedjs_area > div > div > main{ height: 100%; box-sizing: border-box; overflow: hidden; max-height: 100%;}

.pagedjs_area > div > div{ height: 100%;}
.pagedjs_area > div > div > main{ height: 100%;}

@page {
	size: $page-width $page-height;
	//marks: crop; //cross;
	margin-top: $page-margin_top;
	margin-bottom: $page-margin_bottom;
	bleed: 0;
}

@page:left {
	margin-left: $page-margin_petit_fond;
	margin-right: $page-margin_petit_fond;
}

@page:right {
	margin-left: $page-margin_petit_fond;
	margin-right: $page-margin_petit_fond;
}


section{
	
	> h2{
		string-set: title content(text)
	}
}

//.pagedjs_sheet * {border: 1px solid red;}

/*								*
	*		CSS Printing Rules 		*
		*								*/

@media print { 
	// Roots element qui ne servent à rien.
	html, body, #pages, .page{
		padding: 0;
		margin: 0 !important; 
		background: none;
	}
	
	@page {
		//marks: crop; //cross;
	}

	@page {
		height: 100%;
		width: 100%;
	}

	.pagedjs_pages{
		width: 100%;
		height: 100%;

	    page-break-after: always;
	    break-after: page;
	}
}
