@font-face {
	font-family:'Spectral';
	src:	url('web/spectral-light.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family:'Spectral';
	src:	url('web/spectral-lightitalic.woff2') format('woff2');
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family:'Spectral';
	src:	url('web/spectral-semibold.woff2') format('woff2');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family:'Spectral';
	src:	url('web/spectral-semibolditalic.woff2') format('woff2');
	font-weight: bold;
	font-style: italic;
}
