/* desktop */
$unite: 25px;

/*  bordures  */
$border: 0.5px solid $text-color;
$border-light: 0.5px solid #efefef;

/*  autre */
::selection, ::-moz-selection{
    background: $color;
    color: $background-site;
} 

@mixin text-overflow($value: ellipsis) {
    @if $value == clip {
		text-overflow: clip;
	}
	@else {
		text-overflow: $value;
	}
	white-space: nowrap;
	overflow: hidden;
}

@mixin grid($column : 12, $row: 6){
	display: grid;
	grid-template-columns: repeat($column, 1fr);
	grid-column-gap: $page-bleed;
	grid-row-gap: $baseline;
	grid-template-rows: repeat($row, 1fr);
	
	overflow: hidden;
	height: 100%;
	
	> * {grid-column: 1 / #{$column} span;} 
}


@top-left-corner {}
@top-left {}
@top-center {}
@top-right {}
@top-right-corner {}
@left-top {}
@left-middle {}
@left-bottom {}
@right-top {}
@right-middle {}
@right-bottom {}
@bottom-left-corner {}
@bottom-left {}
@bottom-center {}
@bottom-right {}
@bottom-right-corner {}