$page-width: 105mm;
$page-height: 240mm;

$cover-spine: 5mm;

$page-margin_top: 12mm;
$page-margin_bottom: 20mm;
$page-margin_petit_fond: 10mm;
$page-margin_grand_fond: 10mm;

$page-bleed: 4mm;
$tab: 5mm;