$font-1: "Imbue";
$font-2: "Spectral", sans-serif;
$font-3: "Bajaderka";
$font-4: "Work Sans";

$font-size: 10px; // Base 10 pour simplifier les calculs
$baseline: 14px;

@mixin f1-s4($color: $text-color) {
	font-family: $font-1;
    font-size: $font-size * 10;
    line-height: $font-size * 7.5;
    font-weight: 200;
    font-variation-settings: "wght" 200;
    letter-spacing: -1px;
    color: $color;
}

@mixin f1-s3($color: $text-color) {
    font-family: $font-1;
    font-size: $font-size * 7.5;
    line-height: $baseline * 5;
    font-weight: 200;
    font-variation-settings: "wght" 200;
    letter-spacing: -1px;
    color: $color;
}
@mixin f1-s2($color: $text-color) {
    font-family: $font-1;
    font-size: $font-size * 5;
    line-height: $baseline * 3.5;
    font-weight: 200;
    font-variation-settings: "wght" 200;
    letter-spacing: -1px;
    color: $color;
}

@mixin f1-s1($color: $text-color) {
    font-family: $font-1;
    font-size: $font-size * 3;
    line-height: $baseline * 2;
    font-weight: 200;
    font-variation-settings: "wght" 200;
    letter-spacing: -1px;
    color: $color;
}

@mixin f1-s0($color: $text-color) {
    font-family: $font-1;
    font-size: $font-size * 1.5;
    line-height: $baseline * 1.5;
    font-weight: 200;
    font-variation-settings: "wght" 200;
    letter-spacing: -.5px;
    color: $color;
}

/*  
    *
        */

@mixin f2-s0 ($color: $text-color) {
    font-family: $font-2;
    font-size: $font-size;
    line-height: $baseline;
    font-weight: normal;
    letter-spacing: -.5px;
    color: $color;
}

@mixin f2-s1 ($color: $text-color) {
    font-family: $font-2;
    font-size: $font-size * 1.5;
    line-height: $baseline * 1.5;
    font-weight: normal;
    letter-spacing: 0px;
    color: $color;
}

@mixin f2-s2 ($color: $text-color) {
    font-family: $font-2;
    font-size: $font-size * 2;
    line-height: $baseline * 2;
    font-weight: normal;
    letter-spacing: 0px;
    color: $color;
}

@mixin f2-s3 ($color: $text-color) {
    font-family: $font-2;
    font-size: $font-size * 3;
    line-height: $baseline * 3;
    font-weight: normal;
    letter-spacing: 0px;
    color: $color;
}

/*  
    *
        */

@mixin f3-s0 ($color: $text-color) {
    font-family: $font-3;
    font-size: $font-size ;
    line-height: $baseline;
    font-weight: normal;
    letter-spacing: -1px;
    color: $color;
}

@mixin f3-s1 ($color: $text-color) {
    font-family: $font-3;
    font-size: $font-size * 2;
    line-height: $baseline * 2;
    font-weight: normal;
    letter-spacing: -1px;
    color: $color;
}
@mixin f3-s2 ($color: $text-color) {
    font-family: $font-3;
    font-size: $font-size * 3;
    line-height: $baseline * 3;
    font-weight: normal;
    letter-spacing: -1px;
    color: $color;
}
@mixin f3-s3 ($color: $text-color) {
    font-family: $font-3;
    font-size: $font-size * 4;
    line-height: $baseline * 4;
    font-weight: normal;
    letter-spacing: -1px;
    color: $color;
}

/*  
    *
        */

@mixin f4-s0 ($color: $text-color) {
    font-family: $font-4;
    font-size: $font-size * 1.2;
    line-height: $baseline * 1.2;
    font-weight: 300;
    letter-spacing: .2px;
    color: $color;
}