@font-face {
	font-family:'PT Serif';
	src:	url('PTSerif-Regular.ttf') format('ttf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family:'PT Serif';
	src:	url('PTSerif-Italic.ttf') format('ttf');
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family:'PT Serif';
	src:	url('PTSerif-Bold.ttf') format('ttf');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family:'PT Serif';
	src:	url('PTSerif-BoldItalic.ttf') format('ttf');
	font-weight: bold;
	font-style: italic;
}
