/* work-sans-300 - latin */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 300;
  src: local(''),
       url('work-sans-v8-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('work-sans-v8-latin-300.woff') format('woff') /* Modern Browsers */
}

/* work-sans-300italic - latin */
@font-face {
  font-family: 'Work Sans';
  font-style: italic;
  font-weight: 300;
  src: local(''),
       url('work-sans-v8-latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('work-sans-v8-latin-300italic.woff') format('woff') /* Modern Browsers */
}

/* work-sans-regular - latin */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  src: local('')
       url('work-sans-v8-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('work-sans-v8-latin-regular.woff') format('woff') /* Modern Browsers */
}

/* work-sans-italic - latin */
@font-face {
  font-family: 'Work Sans';
  font-style: italic;
  font-weight: 400;
  src: local(''),
       url('work-sans-v8-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('work-sans-v8-latin-italic.woff') format('woff') /* Modern Browsers */
}